@font-face {/*NO ES FORMAL*/
    font-family: 'Ice Valley';
    src: url('fuentes/Ice Valley.ttf');
    /*src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;*/
}

@font-face {
    font-family: 'Cookie Supply';
    src: url('fuentes/Cookie Supply.otf');
}

@font-face {
    font-family: 'Bakeapple';
    src: url('fuentes/Bakeapple.otf');
}

@font-face {
    font-family: 'Perfect Mystery';
    src: url('fuentes/Perfect Mystery.ttf');
}

@font-face {
    font-family: 'Dollanan';
    src: url('fuentes/Dollanan.ttf');
}

@font-face {
    font-family: 'Mesothelioma-Regular';
    src: url('fuentes/Mesothelioma-Regular.ttf');
}

@font-face { /*ES MENOS FORMAL PERO ESTA BIEN*/
    font-family: 'MedPen';
    src: url('fuentes/MedPen.ttf');
}

@font-face {
    font-family: 'Garamond';
    /*src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;*/
}
