*{ /*ESTILOS GENERALES*/
  margin: 0;
  padding: 0;
}

.boton{
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 15px;  /*20 y 10*/
  padding: 8px 0px;
  text-align: center;
  width: 150px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
}

.boton span{
  margin-right: 10px;
}
/*COLORES*/

.boton.rojo{
  background:#e74c3c;
  box-shadow: 0px 3px 0px #c0392b;
}

.boton.azul{
  background:#155BDE;
  box-shadow: 0px 3px 0px #1E2CD7;
}

.boton.naranja{
  font-family: dollanan;
  background: #f39c12;
  font-size: 18px;
  box-shadow: 0px 3px 0px #d35400;

}


/*EFECTOS*/
.boton.radio{
  border-radius: 50px;
  font-family: dollanan;
  font-size: 22px;
}
