* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: aqua;
    padding: 20px;
    text-align: center;

}.header .imagen{
    position: fixed;

}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; /*14 16*/
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

.column.side.temario {
  /*background-color: #2175E1; /*Azul*/
  /*background-color: #E8BC0C;*/  /*#E8BC0C Amarillo*/
  /*background-color: #F19C50;  /*#F1A059*/   /*---> ES EL CHIDO */
  /*background-color: #3498db;  */
  background-color: #060606; 
  opacity: 0.7;
  width: 20%;
}
.temario{
  text-decoration: none;
  color: black;
}

.column.side.derecho {
  /*background: red;
  background-color: #34495e;*/
  opacity: 0.9;
  width: 15%;
}

/* Middle column */
.column.middle.temario {
    width: 65%;
}

.column.middle.temario.fondo {
    width: 65%;
    background-color: #D9E1F0;
    opacity: 0.7;
}

.column.middle {
    width: 50%;
}
.column.middle h2 {
    text-align: center;
}
.column.middle table{
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    padding: 2px;
    text-align: center;
}

