.bievenida{
  font-family: Cookie Supply, serif;
  font-size: 80px;
  color: #DE4730;
}

.bievenida_AcercaDe{
  font-family: Cookie Supply, serif;
  font-size: 40px;
  color: #DE4730;
  /*color: red;*/
}

.cuerpo_AcercaDe{
  font-family: Perfect Mystery;
  font-size: 30px;
  color: #DE4730;
}

.titulo_Ayuda{
  font-family: Cookie Supply, serif;
  font-size: 30px;
  color: #0619BB;
}

.titulo_AcercaDe{
  font-family: Cookie Supply, serif;
  font-size: 50px;
  color: #0619BB;
}


.titulo{
  font-family: Cookie Supply, serif;
  font-size: 90px;
  color: #0619BB;
}

h1{
  font-family: Cookie Supply, serif;
  font-size: 80px;
  color: #0619BB;
  /*color: #0B10AB;*/
}

h2{
  font-family: Perfect Mystery;
  font-size: 30px;
  color: red;
}

h3{
  font-family: Perfect Mystery;
  font-size: 22px;
  color: blue;
}

li{
  text-decoration: none;
}
a{  /*Garamond*/
  text-decoration: none;
  font-family: Garamond;
  color: black;
}

.tema_menu{
  font-family: dollanan;
  font-size: 26px;
  color: white;
}

.titulo_Temario{
  font-family: Perfect Mystery;
  font-size: 30px;
  color: red;
}
.tema_parrafo{
  font-family: dollanan;
  font-size: 24px;
  color: black;
}
