*{
    margin: : 0;
    padding: 0;
    box-sizing: border-box;

}
.content-all{
    width: 210px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
}
.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel figure{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg)
    translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)
    translateZ(300px);}

.content-carrousel img{
    width: 100%;
}

@keyframes rotar {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
