body{
  font-family: dollanan;
  font-size: 18px;
}
/*ESTILOS GENERALES*/
nav ul{
  list-style: none; /*Quita las Viñetas*/
  padding: 0;      /*Elimina la Sangría entre niveles*/
}

nav li {
  line-height: 2.5rem; /*Altura de linea*/
  position: relative;
}

nav li ul{
  position: absolute;
}

nav a{
  color: #add;  /*Color de letra  #add*/
  font-family: dollanan;
  font-size: 18px;
  display: block;
  padding: 0 3em; /*Separación entre bloques*/
  text-decoration: none;
  transition: 0.4s;
}

nav a:hover{
  background: rgba(0, 0, 0, 0.5); /*Al pasar el mouse cambia de color*/
}

/*nav li ul{
  display: none;    ESTA BIEN
}

nav li:hover > ul {
  display: block;
}*/

/* * * * * * * * * * PRIMER NIVEL * * * * * * * * * * */
.menu {
  background: #333; /*FONDO A LA BARRA*/
  display: table;
  width: 100%;
  opacity: 0.7;
}

.menu > li{ /*El > selector Hijo, hijos de Nav*/
  float: right;
}

/* * * * * * * * * * SEGUNDO NIVEL * * * * * * * * * * */
nav li li{
  background: #222;
  max-height: 0;  /*22*/
  overflow: hidden; /*22*/
  transition: all 0.4s;
  width: 200px;
}

/*22*/
nav li:hover > ul > li{
  max-height: 500px;
  overflow: visible;;
}

.menu > li > ul {
  top: 100%;
}
/* * * * * * * * * * TERCER NIVEL * * * * * * * * * * */
.menu ul ul {
  left: 100%;
  top: 0;
}
